
.container-card{
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 30px;
    padding-left: 70px;
    // border: 1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: space-between;
}

.card{
    width: 269px;
    display:flex;
    flex-wrap: nowrap;
    border-radius: 10px;
    text-align: left;
    margin:7px;
}
.card:hover {
    box-shadow:  3px 3px 10px 3px rgb(211, 211, 211);
    transition: 800ms;
    
}
.icons{
    position: relative;
    top:5px;
    visibility: hidden;
    opacity: 0;
}
.card:hover .icons{
    visibility: visible;
    opacity: 1;
    transition: 800ms;
}

.modalnote{
    height: 200px;
    width: 600px;
    padding: 15px;
    background: aqua;
}
@media (max-width:751px) {
    .container-card{
        margin: 0px;
        flex-direction: column;
    }
    .card{
        // flex-direction: column;
        width:510px;
    }
}