.nav{
    background-color: rgb(255, 255, 255);
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: ;
    // flex-wrap: wrap;
    border:1px solid rgb(207, 207, 207) ;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 1rem;
    background: none;
    // position: relative;
    display:flex;
    color: black;
    align-items: baseline;
    content: url('../icons/menu_48px.svg');
    // right: 400px;
}

.menu-bars{
    margin-left: 2rem;
    // font-size: 2rem;
    // background: none;
    position: fixed;
    // display:flex;
    width: 40px;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;

}
.menu-bars:hover{
    background-color: rgba($color: #dfdfdf, $alpha: 1.0);
}

.nav-menu{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 63px;
    overflow: hidden;
    left: 0.1%;
    transition: 50ms;
    box-shadow: none;
}
.nav-menu:hover{
    width: 250px;
    box-shadow: 3px 3px 8px rgb(207, 207, 207);
    z-index: 999;
    
}

.nav-menu.active{
    width: 250px;
    
    transition: 50ms;
    display: flex;
    position: fixed;
    z-index: 999;
    box-shadow: 3px 3px 8px rgb(207, 207, 207)
}
.navbar-toggle{
    list-style: none;
    
}
.notes,.reminder,.assinment,.edit,.archive,.trash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 50px;
    font-size: 17px; 
    cursor: pointer;
}
.a{
    position: relative;
    left: 35px;
}
.notes:hover,.reminder:hover,.assinment:hover,.edit:hover,.archive:hover,.trash:hover {
    background-color: #f1f3f4;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    
}
.notes.active, .archive.active, .trash.active{
    background-color:#feefc3; 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.help{
    content: url('../icons/refresh_48px.svg');
    margin-left: 2rem;
    position: relative;
    display:flex;
    width: 40px;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;

}
.icon{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    opacity: 0.6;
    width: 250px;
}
.ic{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}
.profile{
    padding: 13px;
    background-color: grey;
    border-radius: 45px;
}
.list{
    margin:10px;
    padding:10px 8px 10px;
    border-radius: 19px;
}
.search {
    height: 5vh;
    width: 40%;
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 6px;
    position: relative;
    right: 190px;
    // border: 1px solid black;
}
.help:hover{
    background-color: rgba($color: #dfdfdf, $alpha: 1.0);
}

.img{
    content: url(./600px-Google_Keep_icon.svg.png);
    width:40px;
    // display: flex;
    position: relative;
    left: 85px;
    // flex-basis: 10px;
    // right: 85px;
    
}
.menu-bars3{
    display: flex;
    font-size: 25px;
    position: fixed;
    // right: 10px;
}

.test-class{
    display: flex;
}
.nav-menu-items{
    width: 100%;
}

.app_nam{
position: relative;

right: 105px;
}

#i1{
    content: url('../icons/lightbulb_outline_48px.svg');
    width: 50px;
}
#i2{
    content: url('../icons/iconfinder_alert-70px_510873.png');
    width: 55px;
}
#i3{
    content: url('../icons/edit_black_48x48.png');
    width: 50px;
    
}
#i4{
    content: url('../icons/archive-24px.svg');
    width: 50px;
    
}
#i5{
    content: url('../icons/icons8-trash.svg');
    width: 50px;
    
}
#i6{
    content: url('../icons/label_outline_48.svg');
    width: 50px;
    
}
.ig{
    display: flex;
    position: relative;
    // right: 30px;
    padding: 16px 16px 8px 8px;
}
@media (max-width:916px){
    .nav{
        width: 700px;
    }
    .search{
        position: relative;
        left: 50px;
        // top: -30px;
    }
    .img{
        position: relative;
        // top: -30px;
    }
}
@media(max-width:1218px ) and (min-width:925px){
    .search{
        position: relative;
        left: -45px;
        // top: -25px;
        
    }
    .img{
        position: relative;
        // top: -25px;
    }
}
@media (max-width:1404px){
    .app_nam{
        display: none;
    }
}